@import '~bootstrap/scss/bootstrap';

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

input[type=submit], button {
  margin: 8px;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pwd {
  display: flex;
  flex-direction: column;
}

.create {
  margin: 70px;
}

.textarea {
  height: 200px;
  width: 350px;
}
